<div class="container-fluid mx-0 py-5 story-content">
  <div class="row story-content-section py-5">
    <div class="col col-12 col-lg-6 offset-lg-1 story-content-section-text ">
      <h2>asdasdasdasdasdasd</h2>
      <p>ajhsdgajsdhgasjhdgajsdgajsdgjashgdjahsgdjahsgdjahsgdjahsgdjhasgdjhasgdjashgdjashgd</p>
      <a href="#">read more</a>
    </div>
    <div class="col col-12 col-lg-3 offset-lg-1 story-content-section-image">
      <img src='../assets/img/verified.png' class="story-image">
    </div>
  </div>
  <div class="row story-content-section py-5">
      <div class="col col-12 col-lg-3 offset-lg-1 story-content-section-image">
          <img src='../assets/img/connection.png' class="story-image">
        </div>
    <div class="col col-sm-12 col-lg-6 offset-lg-1 story-content-section-text ">
      <h2>asdasdasdasdasdasd</h2>
      <p>ajhsdgajsdhgasjhdgajsdgajsdgjashgdjahsgdjahsgdjahsgdjahsgdjhasgdjhasgdjashgdjashgd</p>
      <a href="#">read more</a>
    </div>

  </div>
 <div class="row story-content-section py-5">
    <div class="col col-12 col-lg-6 offset-lg-1 story-content-section-text ">
      <h2>asdasdasdasdasdasd</h2>
      <p>ajhsdgajsdhgasjhdgajsdgajsdgjashgdjahsgdjahsgdjahsgdjahsgdjhasgdjhasgdjashgdjashgd</p>
      <a href="#">read more</a>
    </div>
    <div class="col col-12 col-lg-3 offset-lg-1 story-content-section-image">
      <img src='../assets/img/alerts.png' class="story-image">
    </div>
  </div>
</div>
