<div class="container-fluid mx-0 py-5 story-content">
  <div class="row story-content-section py-5">
    <div class="col col-12 col-md-6 offset-md-1 story-content-section-text ">
      <h2>Verified, up-to-date job listings</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Phasellus faucibus
        scelerisque eleifend donec pretium vulputate. Sem nulla pharetra diam
        sit amet nisl suscipit. Ornare massa eget egestas purus viverra accumsan
        in. Amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor
        morbi non arcu risus quis varius. Blandit cursus risus at ultrices mi.
        Sed sed risus pretium quam vulputate dignissim suspendisse in. Non
        consectetur a erat nam at lectus urna. Elit scelerisque mauris
        pellentesque pulvinar pellentesque habitant morbi tristique senectus.
        Consequat id porta nibh venenatis cras sed.
      </p>
      <a href="#">read more</a>
    </div>
    <div class="col col-12 col-md-3 offset-md-1 story-content-section-image">
      <img src="../assets/img/verified.png" class="story-image" />
    </div>
  </div>
  <div class="row story-content-section py-5">
    <div class="col col-12 col-md-3 offset-md-1 story-content-section-image">
      <img src="../assets/img/connection.png" class="story-image" />
    </div>
    <div class="col col-12 col-md-6 offset-md-1 story-content-section-text ">
      <h2>Service Providers and customers connected</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Phasellus faucibus
        scelerisque eleifend donec pretium vulputate. Sem nulla pharetra diam
        sit amet nisl suscipit. Ornare massa eget egestas purus viverra accumsan
        in. Amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor
        morbi non arcu risus quis varius. Blandit cursus risus at ultrices mi.
        Sed sed risus pretium quam vulputate dignissim suspendisse in. Non
        consectetur a erat nam at lectus urna. Elit scelerisque mauris
        pellentesque pulvinar pellentesque habitant morbi tristique senectus.
        Consequat id porta nibh venenatis cras sed.
      </p>
      <a href="#">read more</a>
    </div>
  </div>
  <div class="row story-content-section py-5">
    <div class="col col-12 col-md-6 offset-md-1 story-content-section-text ">
      <h2>Real time notificacions</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Phasellus faucibus
        scelerisque eleifend donec pretium vulputate. Sem nulla pharetra diam
        sit amet nisl suscipit. Ornare massa eget egestas purus viverra accumsan
        in. Amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor
        morbi non arcu risus quis varius. Blandit cursus risus at ultrices mi.
        Sed sed risus pretium quam vulputate dignissim suspendisse in. Non
        consectetur a erat nam at lectus urna. Elit scelerisque mauris
        pellentesque pulvinar pellentesque habitant morbi tristique senectus.
        Consequat id porta nibh venenatis cras sed.
      </p>
      <a href="#">read more</a>
    </div>
    <div class="col col-12 col-md-3 offset-md-1 story-content-section-image">
      <img src="../assets/img/alerts.png" class="story-image" />
    </div>
  </div>
</div>
