<nav class="navbar navbar-expand navbar-light justify-content-between container-fluid">
  <div class="col-4 navbar-brand">
    <b class="display-4">{{title}}</b>
  </div>
  <div class="col-6">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item  ">
          <!-- <a class="nav-link display-6" href="#">LOGIN / REGISTER</a> -->

          <button class="btn btn-link text-dark " routerLink="/categories" routerLinkActive="active"><b>CATEGORIES </b></button>
        </li>
        <li class="nav-item  ">
          <!-- <a class="nav-link display-6" href="#">LOGIN / REGISTER</a> -->

          <button class="btn btn-link text-dark "><b>LOGIN / REGISTER </b></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
