<nav class="navbar navbar-expand-lg navbar-light justify-content-between container-fluid">
  <div class="col-4 navbar-brand">
    <b class="display-4">
      <a routerLink="" routerLinkActive="active" class="text-dark">
        {{title}}
      </a>
    </b>
  </div>
  <div class="col-6">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item  ">


          <button class="btn btn-link text-dark " routerLink="/categories" routerLinkActive="active"><b>CATEGORIES </b></button>
        </li>
        <li class="nav-item  ">


          <button class="btn btn-link text-dark" data-toggle="modal" data-target="#exampleModalCenter"><b>LOGIN / REGISTER </b></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
