<nav class="navbar navbar-expand-lg navbar-light justify-content-between container-fluid">
  <div class="col-4 navbar-brand">
    <b class="display-4">
      <a routerLink="" routerLinkActive="active" class="text-dark">
        {{title}}
      </a>
    </b>
  </div>
  <div class="col-6">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item  ">


          <button class="btn btn-link text-dark " routerLink="/categories" routerLinkActive="active"><b>CATEGORIES </b></button>
        </li>
        <li class="nav-item  ">


          <button class="btn btn-link text-dark" data-toggle="modal" data-target="#ModalLoginForm"><b>LOGIN / REGISTER </b></button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-xs-center">Log in</h4>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <app-login-page></app-login-page>
      </div><!-- /.modal-body -->
      <div class="modal-footer text-xs-center">
        Don't have an account? <a href="/auth/register">Sign up »</a>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
