<div class="column col-12 col-sm-6">
    <div class="row display-4 justify-content-center m-5">
        The best place to meet customers and providers.
    </div>
    <div class="row justify-content-center m-5 px-10">
        <button class="btn btn-outline-dark btn-lg btn-block">Top Providers</button>
    </div>
    <div class="row justify-content-center px-7">
        <p class="col-9 my-3 ml-7">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>