<div class="row container-fluid justify-content-center mx-0">
  <div class="col col-12 col-md-4">
    <h2>Add Category:</h2>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="control-label" for="categoryName">
          Name:
        </label>
        <input type="text" placeholder="Category Name" class="form-control input-lg" id="categoryName"
          formControlName="name">
      </div>
      <div class="form-group">
        <label class="control-label" for="categoryDescription">
          Description:
        </label>
        <input type="text" placeholder="Category Brief Description" class="form-control input-lg"
          id="categoryDescription" formControlName="description">

      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!categoryForm.valid">
        Submit
      </button>
    </form>
  </div>
</div>
